.HomeSection{
  margin: auto;
  width: 86%;
}

.Gallery{
  background-color: #f6f6f6;
  border-radius: 25px;
  height: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 45px;
  margin-block-end: 45px;
}
