.SectionLogement {
  width: 87%;
  margin: 60px auto;
}

.Carrousel {
  display: flex;
  justify-content: center;
  height: 415px;
  border-radius: 25px;
  list-style: none;
  /* margin-bottom: 20px; */
  max-width: 1240px;
  margin: 40px auto;
}
/* Information pour de logement*/
.InfoLogementContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

.InfoWrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  color: #ff6060;
  width: 50%;
}

.LogementTitle {
  font-size: 2em;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0;
  margin: 10px 0 0 0;
}

.LogementLocation {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  margin: 5px 0;
}

.TagWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding-left: 0px;
  list-style: none; 
}

/* Information pour d'host*/
.HostInfoWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.HostInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0 0 0;
  color: #ff6060;
}

.HostName {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  text-align: right;
  /* max-width: 96px; */
  margin-right: 19%;
}

.HostPicture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.HostRate {
  max-width: 200px;
  max-height: 40px;
}

/* Collapse composants : description et equipments */
.LogementCollapseContainer {
  /* width: 100%; */
  max-width: 1240px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

/* version mobile (max-width: 600px) */
@media (max-width: 600px) {
  .Carrousel {
    height: 255px;
  }

  .InfoLogementContainer {
    flex-direction: column;
  }

  .LogementTitle {
    font-size: 1.3em;
    line-height: 26px;
  }

  .LogementLocation {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  .InfoWrap {
    width: 100%;
  }

  .HostInfoWrap {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .HostRate {
    max-width: 100px;
    max-height: 20px;
  }

  .HostName {
    max-width: 100px;
    line-height: 18px;
    font-size: 0.9em;
  }

  .LogementCollapseContainer {
    flex-direction: column;
  }
}