.Thumb {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff5f5f 0%, #923737 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.TitreDeLaLocation {
  height: 52px;
  width: 300px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.7px;
  margin: 0;
  padding: 6%;
}


/* version mobile (max-width: 600px) */
@media (max-width: 600px) {
  .Thumb {
    height: 255px;
    width: 335px;
  }

  .TitreDeLaLocation {
    width: 296px;
    font-size: 18px;
  }
}