.Thumb {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px 10px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  text-decoration: none;
    &:hover {
      box-shadow: 12px 22px 14px -10px rgba(0,0,0,0.1);
    }
}

.TitreDeLaLocation {
  height: 52px;
  max-width: 300px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.7px;
  margin: 0;
  padding: 6%;
  background: linear-gradient(359deg, #1a1919db, #f6f6f600);
  border-radius: 10px;
}


/* version mobile (max-width: 600px) */
@media (max-width: 600px) {
  .Thumb {
    height: 255px;
    width: 100%;
    margin: 0 0 20px 0;
  }

  .TitreDeLaLocation {
    max-width: 480px;
    font-size: 18px;
    padding: 16px;
  }
}