/* à l'état fermé   */
.CollapseSmall {
  height: 47px;
  max-width: 1023px;
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 40px;
}

.CollapseTitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  height: 34px;
  letter-spacing: 0;
  line-height: 34.2px;
}

.ArrowButton {
  background-color: #ff6060;
  border-style: none;
  cursor: pointer;
}

/* à l'état ouvert */

.CollapseLarge {
  max-width: 1023px;
  background: #F6F6F6;
  border-radius: 5px;
  min-height: 100%;
}

.CollapseText {
  background: #F6F6F6;
  height: 100%;
  border-radius: 5px;
}

.CollapseText p {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 34.2px;
  padding: 10px;
}

/* version mobile (max-width: 600px) */
@media (max-width: 600px) {
  .CollapseSmall {
    height: 30px;
  }

  .CollapseTitle {
    font-size: 13px;
    font-weight: 500;
  }

  .CollapseText p {
    font-size: 13px;
    font-weight: 500;
  }

  .ArrowButton {
    max-height: 18px;
  }

}