/* à l'état fermé   */
.CollapseDescSmall {
  height: 47px;
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  min-width: 40%;
}

.CollapseDescTitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  height: 34px;
  letter-spacing: 0;
  line-height: 34px;
}

.ArrowButton {
  background-color: #ff6060;
  border-style: none;
  cursor: pointer;
}

/* à l'état ouvert */

.CollapseDescLarge {
  background: #F6F6F6;
  border-radius: 5px;
  width: 44%;
}

.CollapseDescText {
  background: #F6F6F6;
  border-radius: 5px;
}

.CollapseDescText p {
  color: #FF6060;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 34px;
  padding: 20px;
}

/* version mobile (max-width: 600px) */
@media (max-width: 600px) {
  .CollapseDescSmall {
    height: 30px;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 15px;
  }

  .CollapseDescLarge{
    width: 100%;
    margin-bottom: 15px;
  }

  .CollapseDescTitle {
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px;
  }

  .CollapseDescText p {
    font-size: 14px;
    font-weight: 500;
  }

  .ArrowButton {
    max-height: 22px;
    padding: 0 15px;
  }

}